body {
    margin: 40px;
    padding: 40px;
    border-top: 3pt dotted;
    background: lightgrey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}